
div.moduletable-banner{width:872px;height:515px;position:relative;margin-top:0px;background:url(img/banner_loading.png?v=2);}

div.moduletable-banner-product{width:872px;height:424px;position:relative;margin-top:0px;background:url(img/banner_loading.png?v=2);}