<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 事务规则的配置 -->
	<bean name="transactionAttributesSource"
		class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
		<property name="properties">
			<props>
				<prop key="registe*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="edit*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="realtime*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="get*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="find*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="is*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="has*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="had*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="load*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ,readOnly
				</prop>
				<prop key="create*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="update*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="batchUpdate*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="save*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="batchSave*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="insert*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="submit*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="delete*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="batchDelete*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="remove*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="begin*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="lock*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="finish*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="execute*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="renew*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="open*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
				<prop key="close*">
					PROPAGATION_REQUIRED,ISOLATION_REPEATABLE_READ
				</prop>
			</props>
		</property>
	</bean>

	<!-- 添加数据源的transaction exam -->
	<bean id="autoTxProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref bean="transactionInterceptor" />
				<!-- <idref bean="transactionInterceptorForAS" /> -->
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>*Dao</value>
				<value>*DAO</value>
				<value>*Service</value>
			</list>
		</property>
	</bean>
	
	<!-- examsystem相关的事务类声明 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributeSource">
			<ref bean="transactionAttributesSource" />
		</property>
	</bean>

	<!-- ajaxablesky相关的事务类声明 -->
	<!--
	<bean id="transactionManagerForAS"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactoryForAS" />
		</property>
	</bean>

	<bean id="transactionInterceptorForAS"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManagerForAS" />
		</property>
		<property name="transactionAttributeSource">
			<ref bean="transactionAttributesSource" />
		</property>
	</bean>
	-->
</beans>