.logo{
	background: url('../image/logo.png') no-repeat scroll 0 0 transparent;
	height: 90px;
	margin:40px 36px;
}
.headerWrap{position: relative;}
.headerWrap ul{
	margin-left: 36px;
}
.headerWrap li{
	float: left;
	text-align: center;
}
.headerWrap .nav{
	width:100px;
	height:20px;
	display: inline-block;
	border-left: 1px solid #838383;
	color:#000;
}
.headerWrap .current{color:#0e76bd;border-left:none;background: url('../image/nav_icon.png') repeat-y scroll 0 0 transparent;}
.searchWrap{
	position:absolute;
	top:-40px;
	right:25px;
}
.searchWrap .rightAside{margin-bottom: 10px;}
.searchWrap .rightAside .cn{margin: 0 13px 0 10px;display: inline-block;}
.searchWrap .rightAside .forum{margin-right: 9px;display: inline-block;}
.content{margin:60px 0 0  36px;}
.content .leftside,.content .listContainer{float: left;}
.content .leftside .classification{padding-left:17px;margin-top:5px;color:#000;width: 206px;display: inline-block;height: 22px;line-height:22px;background-color: #c0c0c0;}
.content .leftside .classification.current{background-color: #0e76bd;color:#fff;}
.content .listContainer{width: 800px;}
.content .listContainer li{float: left;margin-bottom: 10px;}
.listWrap{padding:30px 28px 12px;border:1px solid #dbdbdb;margin-left: 20px;}
.listWrap img{
	width: 120px;
	height: 150px;
}
.toolInfo{margin-top:10px;}
.detailInfo{
	line-height: 27px;
}
