.logo{
	background: url('../image/logo.png') no-repeat scroll 0 0 transparent;
	height: 90px;
	margin:40px 36px;
}
.headerWrap{position: relative;}
.headerWrap ul{
	margin-left: 36px;
}
.headerWrap li{
	float: left;
	text-align: center;
}
.headerWrap .nav{
	width:100px;
	height:20px;
	display: inline-block;
	border-left: 1px solid #838383;
	color:#000;
}
.headerWrap .current{color:#0e76bd;border-left:none;background: url('../image/nav_icon.png') repeat-y scroll 0 0 transparent;}
.searchWrap{
	position:absolute;
	top:-40px;
	right:25px;
}
.searchWrap .rightAside{margin-bottom: 10px;}
.searchWrap .rightAside .cn{margin: 0 13px 0 10px;display: inline-block;}
.searchWrap .rightAside .forum{margin-right: 9px;display: inline-block;}
.content{margin:60px 0 0  36px;}
.content .leftside{position: relative;}
.content .leftside .classification:hover .content .leftside .classify-list{
	display: block;
}
.content .classify-list{width: 400px;opacity: .95;filter:alpha(opacity=95);background-color: #fff;position: absolute;top:5px;left:223px;display:none;padding:28px 30px;z-index:1000;}
.content .classify-list li{float: left;}
.content .classify-list li .detail{margin-right: 80px;display: inline-block;}
.content .leftside,.content .listContainer{float: left;}
.content .leftside{width: 223px;}
.content .leftside .classification{
	padding-left:16px;
	margin-top:5px;
	color:#333;
	display: block;
	padding:0 10px;
	line-height: 30px;
	background-color: #c0c0c0;
}
.content .leftside .classification:hover{
	color:#fff;
	background-color:#0078e7;
}
.content .leftside .classification.current{background-color: #0e76bd;color:#fff;}
.content .listContainer{width: 800px;padding-left:16px;}
.content .listContainer li{float: left;margin-bottom: 10px;}
.listWrap{padding:30px 28px 12px;border:1px solid #dbdbdb;margin-left: 20px;}
.listWrap img{
	width: 120px;
	height: 150px;
}
.toolInfo{margin-top:10px;}
.detailInfo{
	line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
