.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
a{
	text-decoration:none;
	color:#57654b;
}
#variableatag a {
	color:#000000;	
    text-decoration:none;
}

.img-wrapper{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	*display: block;
	*font-size: 175px;
	*font-family:Arial;
}
.img-wrapper img{
	vertical-align:middle;
}

a, a:hover, a:link{
	text-decoration:none;
}
.main-section{
	width:100%;
	height:100%;
}
.img-item{
	width:897px;
	height:661px;
	position:absolute;
	top:0;
	left:0;
}
.button-container{
	padding-right:14px;
	margin-top:-64px;
	position:relative;
	z-index:120;
}
.button-container .button-item{
	margin-right:25px;
	float:right;
	line-height:64px;
	font-size:24px;
	color:#848c77;
	display:block;
	width:70px;
	height:64px;
	z-index:100;
}

body {background-color: gray;}