body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 Verdana,Microsoft YaHei,宋体;
}
address, cite, dfn, em, var {
    font-style: normal;
}

ul li, ol li{
    list-style: none;
}
fieldset, img {
    border: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container{
	width:1090px;
	margin: 0 auto;
    position: relative;
}
a,a:focus,a:hover{
	text-decoration: none;
	outline: none;
}

/*搜索*/
.searchWrap .searchText{
    line-height: 24px;
    height: 24px;
    padding:0 3px;
}
.searchWrap .submitBtn{
    height: 28px;
    line-height: 28px;
}
/*内容区*/
.content{
    position: relative;
}
/*左侧品牌和*/
.aside_nav{
    position:relative;
}
/* .aside_nav:hover{
    color:#fff;
    background-color:#0078e7;
} */
.aside_nav:hover .submenubox{
    display: block;
}
.aside_nav .submenubox{
    position:absolute;
    background-color:#fff;
    z-index:1000;
    width: 500px;
    top:5px;
    left:223px;
    padding: 10px;
    display: none;
    opacity: .9;
    filter:alpha(opacity=90);
}
.aside_nav .submenubox li{
    float: left;
    padding: 5px;
}
.brand_submenubox,.classify_submenubox{
    position:absolute;
    opacity:.9;
    filter:alpha(opacity=90);
    background-color:#fff;
    z-index:1000;
    width: 500px;
    padding: 10px;
    display: none;
}
.brand_submenubox li,.submenubox li,.classify_submenubox li,.submenubox li{
    float: left;
    padding: 5px;
    width: 220px;
}
.brand_submenubox li .item:hover,.submenubox li .item:hover,.classify_submenubox li .item:hover,.submenubox li .item:hover{
    color:#0e76bd;
}
.brand_submenubox .sort_title,.submenubox .sort_title{
    font-weight: bold;
    margin-right: 10px;
    float: left;
}
.brand_submenubox .detail,.submenubox .detail{
    float: left;
}
.brand_submenubox .detail a,.submenubox .detail a,.classify_submenubox li a,.submenubox li a{
    color: #333;
}

/*注册  && 登陆*/
.registrationWrap{
    position: absolute;
    top:0;
    right: 0;
    height: 490px;
    width: 620px;
    display: none;
    background-color: #fff;
    padding-left: 66px;
    z-index: 1000;
    opacity: .9;
    filter:alpha(opacity=90);
}
.registrationWrap .registration_info{width: 280px;float: left;}
.registrationWrap .registration_info label,.registrationWrap .login_info label{display: block;}
.registrationWrap .registration_info .wrap{
    margin-bottom:6px;
    position: relative;
}
.registrationWrap .registration_info .wrap .require_icon{
    color:red;
    position: absolute;
    bottom: 0px;
    left:138px;
}
.registrationWrap .registration_info .reg_txt{
    margin-top: 5px;
    display: block;
    height: 24px;
    line-height:24px;
    width: 124px;
    padding: 0 12px 0 10px;
}
.registrationWrap .registration_info .send_email,.registrationWrap .registration_info .agreement,.registrationWrap .registration_info .required{
    margin-bottom: 12px;
}
.registrationWrap .registration_info .submit{background-color: #0e76bd;padding:5px 20px;cursor: pointer;color:#fff;}
.registrationWrap .login_info{width: 340px;float: left;}
.registrationWrap .login_info .wrap{margin-bottom: 20px;}
.registrationWrap .login_info .wrap input{height: 24px;line-height: 24px;}
.registrationWrap .login_info .login_btn{margin-right: 20px;background-color: #0e76bd;padding:5px 20px;color:#fff;cursor: pointer;}

.login_info{
    display: none;
}
.login_error,.tip_error{
    color:red;
}
.tip_error{
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    display: none;
}
.require_icon_des{
    color:red;
}
