.logo{
	background: url('../image/logo.png') no-repeat scroll 0 0 transparent;
	height: 90px;
	margin:40px 36px;
}
.headerWrap{position: relative;}
.headerWrap ul{
	margin-left: 36px;
}
.headerWrap li{
	float: left;
	text-align: center;
}
.headerWrap .nav{
	width:100px;
	height:20px;
	display: inline-block;
	border-left: 1px solid #838383;
    color:#000;
}
.headerWrap .current{color:#0e76bd;border-left:none;background: url('../image/nav_icon.png') repeat-y scroll 0 0 transparent;}
.searchWrap{
	position:absolute;
	top:-40px;
	right:25px;
}
.searchWrap .rightAside{margin-bottom: 10px;}
.searchWrap .rightAside .cn{margin: 0 13px 0 10px;display: inline-block;}
.searchWrap .rightAside .forum{margin-right: 9px;display: inline-block;}

.content{
	margin: 60px 0 0 36px;
}
.content .figure{
	float: left;
}
.content .figure{
	margin-right: 5px;
}
.footer{margin-left:36px;}
.footer li{
	float:left;
	margin-right: 6px;
}
/*首页轮播*/
.slider-container{
	height: 284px;
    position: relative;
    width: 684px;
    z-index: 0;
}
.slider-container img{
	height: 284px;
	width: 684px;
}
.slider-container .slider-content {
    position: relative;
}
.slider-container .slider-content li {
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.slider-container .slider-content li.sliderCurrent {
    display: block;
    opacity: 1;
}
.slider-container .sliderRank {
    bottom: 10px;
    position: absolute;
    right: 60px;
}
.slider-container .sliderRank a {
    background-color: #F7EAE0;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    width: 16px;
}
.slider-container .sliderRank a.current {
    background-color: #40B019;
}