.logo{
	background: url('../image/logo.png') no-repeat scroll 0 0 transparent;
	height: 90px;
	margin:40px 36px;
}
.headerWrap{position: relative;}
.headerWrap ul{
	margin-left: 36px;
}
.headerWrap li{
	float: left;
	text-align: center;
}
.headerWrap .nav{
	width:100px;
	height:20px;
	display: inline-block;
	border-left: 1px solid #838383;
	color:#000;
}
.headerWrap .current{color:#0e76bd;border-left:none;background: url('../image/nav_icon.png') repeat-y scroll 0 0 transparent;}
.searchWrap{
	position:absolute;
	top:-40px;
	right:25px;
}
.searchWrap .rightAside{margin-bottom: 10px;}
.searchWrap .rightAside .cn{margin: 0 13px 0 10px;display: inline-block;}
.searchWrap .rightAside .forum{margin-right: 9px;display: inline-block;}
.content{margin:60px 0 0  36px;}
.content .tip_icon{float: left;width: 722px;}
.content .tip{float: left;margin-left:50px;height: 474px;line-height: 474px;}

